In [3]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
##abrimos el fichero para leerlo sin descomprimirlo.

In [6]:
import bz2

In [9]:
f = bz2.BZ2File('bookings.csv.bz2')

In [10]:
f

In [11]:

n = 0 
for l in f:
    n += 1

In [12]:
n

10000011

ejercicio 2, leemos las 100.000 primeras lineas. no trabajamos con todo el fichero.

tenemos fichero bookings, utilizando la columna "arr-port" código de tres letras con el aeropuerto- 
aeropuerto de destino
"pax" = +-N
buscar el aeropuerto que recibe más llegadas.
1. buscar la opción de limitar el número de líneas. nrow=1e5 estamos limitando a 100.000 líneas de fichero
2. seleccionamos

In [18]:
b = pd.read_csv('bookings.csv.bz2',sep='^',nrows=1e5)

In [19]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [23]:
df_aeropuerto =b.groupby("arr_port")

In [26]:
## definimos lafunción suma 
df_sumaeropuerto = df_aeropuerto.aggregate(sum)

In [33]:
## aplicamos la función suma a la columna pax y la ordenamos mayor a menor. 
top_ten=df_sumaeropuerto.sort("pax",ascending=False).head(10)

In [31]:
top_ten

          duration  distance  intl   pax     year  month
arr_port
LHR       55095468    921143  2022  1006  4247430   4654
MCO       12777782    195109   341   861  2097546   2254
JFK       53373762   1305730  1297   795  3401970   3837
LAX       35111138    874985   735   761  3156384   3480
BKK       30188252    418702  1215   747  2663199   2683
LAS        9117120    235950   330   732  1914363   1948
SFO       27171337    644069   509   705  2473977   2730
ORD       22417385    353628   381   686  2512224   2914
CDG       33156039    540786  1398   676  2898720   3191
DXB       20988613    654353  1249   587  2528328   2446

In [34]:
# solución profesor . 
g= b.groupby('arr_port')
s = g.pax.sum()

In [35]:
s.head(5)

arr_port
AAE          2
AAL         16
AAQ          5
AAR          4
ABE         16
Name: pax, dtype: int64

In [38]:
# asignamos un indice para hacer un dataframe. 
d = s.reset_index()
d.head(5)

   arr_port   pax
0  LHR       1006
1  MCO        861
2  JFK        795
3  LAX        761
4  BKK        747

In [39]:
d.sort('pax',ascending=False).head(5)

   arr_port   pax
0  LHR       1006
1  MCO        861
2  JFK        795
3  LAX        761
4  BKK        747

In [42]:
# leer unas dos columnas 
b = pd.read_csv('bookings.csv.bz2', sep='^',usecols=['arr_port','pax'])

### si no cabe en memoria lo hacemos con chance.

ejercicio 2 - done using chunks

In [96]:
b = pd.read_csv('bookings.csv.bz2', sep='^',chunksize=1e5)

In [88]:
b

In [48]:
#imprimimos lineas de cada minidataframe
for chunk in b:
    print(chunk.__class__)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

/usr/lib64/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [89]:
for chunk.__class__ in b:
        aerop = b.groupy("arr_port")
        sumaeropuerto = aerop.pax.sum()
        top_ten=df_sumaeropuerto.sort("pax",ascending=False)

TypeError: __class__ must be set to new-style class, not 'DataFrame' object

In [63]:
# prueba de dataframe concatenado.

d = pd.DataFrame(chunk.arr_port,chunk.pax)

In [64]:
# creamos dataframes vacíos 

d1=d
d2=d
d3=d
d4=d
pd.concat([d1,d2,d3,d4]).count()

arr_port    36
dtype: int64

In [65]:
l = []
for mydf in [d1,d2,d3,d4]:
    l.append(mydf)

In [60]:
len(l)

4

In [66]:
pd.concat(l)

     arr_port
pax
 2   LAS
 2   LAS
 2   LAS
 1   LAS
 1   LAS
-1        NaN
 1   LAS
 1   LAS
 1   LAS
 1   LAS
 2   LAS
 2   LAS
 2   LAS
 1   LAS
 1   LAS
-1        NaN
 1   LAS
 1   LAS
 1   LAS
 1   LAS
 2   LAS
 2   LAS
 2   LAS
 1   LAS
 1   LAS
-1        NaN
 1   LAS
 1   LAS
 1   LAS
 1   LAS
 2   LAS
 2   LAS
 2   LAS
 1   LAS
 1   LAS
-1        NaN
 1   LAS
 1   LAS
 1   LAS
 1   LAS

In [68]:
# solución. 

for chunk in b:
    chunk.groupby('arr_port').sum('pax')
    top10=s.reset_index().sort('paxascending=False)

SyntaxError: EOL while scanning string literal (<ipython-input-68-31bf325fabf8>, line 5)

In [69]:
lista = []

for chunk in b:
    s = chunk.groupby('arr_port').sum('pax')
    top10=s.reset_index().sort('paxascending=False)
    lista.append(top10)
                               
todoslosDf = pd.concat(lista)
sTodos = TodosDf.groupby('arr_port').sum('pax')
sTodos.reset_index().sort('pax',ascending=False).head()

SyntaxError: EOL while scanning string literal (<ipython-input-69-8de1aeddf247>, line 5)

In [71]:
lista = []

for chunk in b:
    s = chunk.groupby('arr_port').sum('pax')
    lista.append(s)
                               
todoslosDf = pd.concat(lista)
sTodos = todoslosDf.groupby('arr_port').sum('pax')
sTodos.reset_index().sort('pax',ascending=False).head()

ValueError: All objects passed were None

In [72]:
## hacemos las operaciones dentro del for. 
## un iterador se consume cada vez que lo utiliza
firstchunk = b.ger_chunk
TodosLosDf = chunk.groupby('arr_port).sum('pax')


for chunk in b:
    s = chunk.groupby('arr_port').sum('pax')
    c = pd.concat(s.todoslosDf)                       
    todosLosDF = pc.groupby('arr_port').sum('pax').reset_index()
                           
                    
    
# al final tendremos un data frame solo con 4k filas 
# porque hay -4k aeropuertos en el mundo
                               
sTodos = todoslosDf.groupby('arr_port').sum('pax')
sTodos.reset_index().sort('pax',ascending=False).head()

SyntaxError: invalid syntax (<ipython-input-72-acd7def70aba>, line 4)

In [98]:
## hacemos las operaciones dentro del for. 
## un iterador se consume cada vez que lo utiliza
c = pd.DataFrame([])
hepasadoyaporchunk1 = False

for chunk in b:
    print('procesando chunk')
    s = chunk.groupby('arr_port').pax.sum().reset_index()
    if hepasadoyaporchunk1:
        print "mas"
        c = pd.concat([s,todoslosDf])
    else:
        print "uno"
        c = s
        hepasadoyaporchunk1 = True
    print "pasos"
    TodoslosDf = c.groupby('arr_port').pax.sum().reset_index()
                                  
todoslosDf.sort('pax',ascending=False).head()

procesando chunk
uno
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos
procesando chunk
mas
pasos

KeyboardInterrupt:

In [107]:

g=b.groupby("arr_port')
s=g.pax.sum()
d=s.reset_index()
top= d.sort('pax',ascending=False)
from GeoBases import GeoBase

SyntaxError: EOL while scanning string literal (<ipython-input-107-d6a6dfedc14b>, line 2)

In [92]:
g = GeoBase (data='ori_por', verbose=False)

In [93]:
g.get('MUC')['name']

'Munich International Airport'

In [102]:
## añadimos una columna con el nombre del aeropuerto
## con esto buscamos los aeropuertos que están en la lista 
names = []
for x in top.arr_port:
    names.append(g.get(x.strip())['name'])

NameError: name 'top' is not defined

In [103]:
cities=top.arr_port.apply(lambda a: g.get(a.strip())['city_name_ascii'])

NameError: name 'top' is not defined

In [108]:
top.names =names
top['names']= names   ---- agregamos una columna.
top

NameError: name 'top' is not defined